@model WebDev.Models.ViewModels.LobbyViewModel
@inject IHttpContextAccessor Accessor

<link rel="stylesheet" href="~/css/lobby.css" />

<div class="mt-2">
    <div class="message-box"></div>

    <table class="table">
        <tr>
            <th>
                Gebruiker

                @if (@Model.OwnerID == Accessor.HttpContext.Session.GetInt32("UserID"))
                {
                    <button class="admin-button" onclick="DeleteRoom()">Delete room</button>
                }
            </th>
        </tr>
    </table>
</div>

<script src="~/js/lobby.js"></script>
<script>
    "use strict";

    console.log("init");

    var connection = new signalR.HubConnectionBuilder().withUrl('/signalr').build();

    async function disconnect() {
        try {
            await connection.invoke("RemoveFromRoom", @Model.RoomID);
        }
        catch (err) {
            console.log(err);
        }
    }

    $(window).on("unload", function () {
        disconnect();
    });

    $(window).on("beforeunload", function () {
       disconnect();
    });

    async function DeleteRoom() {
        try {
            await connection.invoke("DeleteRoom", "@Model.AdminToken", "@Model.RoomID");
        }
        catch (err) {
            console.log(err);
        }
    }

    async function getPlayers() {
        try {
            await connection.invoke("GetGroupUsers", @Model.RoomID);
        }
        catch (err) {
            console.log(err);
        }
    }

    async function start() {
        try {
            await connection.start();
            console.log("SignalR Connected.");
            connection.invoke("AddToRoom", @Model.RoomID);
        } catch (err) {
            console.log(err);
            setTimeout(start, 500);
        }
    };

    connection.onclose(async () => {
        await start();
    });

    // Start the connection.
    start();

    connection.on("receiveAdminToken", function (message) {
        adminToken = message;
    });

    connection.on("playerJoined", function (message) {
        $('.message-box').append("<div class='message'>" + message + " joined the room </div>");
    });

    connection.on("playerList", function (message) {
        $('.table tr').not(':first').remove();
        var message = JSON.parse(message);
        var html = '';

        for (var i = 0; i < message.length; i++)
            html += '<tr><td>' + message[i] + '</td></tr>';

        $('.table tr').first().after(html);

        setTimeout(getPlayers, 1000);
    });

    connection.on("playerLeft", function (message) {
        $('.message-box').append("<div class='message'>" + message + " left the room </div>");
    });

    connection.on("removeAll", function (message) {
        alert("Owner has disconnected. You will be returned to the overview.");
        window.location.href = '/Home/LobbyOverview/'; 
    });
</script>